.Btn__chat {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 40px;
  background-color: peru;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
  transition: .7s;
  outline: 0;
  border: none;
  margin: 5px 10px;
}

.before {
  z-index: -1;
}

.Btn__chat:active {
  transform: scale(.8);
}