.Chat_Container {
  /* margin: 20px; */
  position: absolute;
  top: 76px;
  right: 0;
  width: 300px;
  height: 420px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
}

.Container_Header {
  background-color: #009688;
  color: white;
  display: flex;
  width: 100%;
  height: 8%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  justify-content: space-between;
}

.Container_Header p {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.Container_Messages {
  display: flex;
  width: 90%;
  height: 70%;
  border: 1px solid slateblue;
  overflow-y: scroll;

}

.Container_Message {
  border: 1px solid;
  width: 100%;
  height: 12%;
  display: flex;
}

.Container_Message--input {
  width: 90%;
  box-sizing: border-box;
  outline: 0;
  border: none;
  padding: 12px;
  font-size: 1.2em;
  font-family: sans-serif;
  resize: none;
}

.Send {
  background-color: #009688;
  border: none;
  color: white;
  cursor: pointer;
}

.CloseChat {
  font-size: 30px;
  cursor: pointer;
}
