.Post__Container {
  display: flex;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Wrapper__Container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .Post__Container {
    width: 95%;
  }
}