.Title {
  text-align: center;
}

.Document_Wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.Content {
  text-align: justify;
  
}