@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?2uxhnr');
  src:  url('../../fonts/icomoon.eot?2uxhnr#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?2uxhnr') format('truetype'),
    url('../../fonts/icomoon.woff?2uxhnr') format('woff'),
    url('../../fonts/icomoon.svg?2uxhnr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lifebuoy:before {
  content: "\e941";
}
.icon-phone:before {
  content: "\e942";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-user:before {
  content: "\e971";
}
.icon-menu:before {
  content: "\e9bd";
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(201, 121, 197);
}

.header {
  width: 100%;
  background-color: #00395E;
  height: 77px;
  display: flex;
  align-items: center;
  /* border: 1px solid yellow; */
  justify-content: center;
  /* position: fixed; */
  /* z-index: 3; */
}

.wrapper {
  padding: 0 20px;
  width: 1100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid pink; */
}

.Btn_Container {
  /* display: flex;
  width: 100px;
  height: 35px;
  justify-content: center;
  border: 1px solid red; */
}

.Btn_Primary {
  background: #7acc2d;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: 0.4s;
  padding: 10px 15px;
  color: white;
  outline: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.Btn_Primary:active {
  transform: scale(.6);
}

.BuapLogo {
  align-self: center;
}

.Fcqmin {
  padding: 6px;
  width: 12%;
  animation: react;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(30);
  animation-fill-mode: forwards;
  will-change: trasform;
}

@keyframes react {
  20% {
    transform: rotateZ(180deg);
    /* transform: rotateY(180deg); */
  }
  40% {
    transform: rotateZ(360deg);
    /* transform: rotateY(180deg); */
  }

  50% {
    transform: rotateZ(360deg );
  }

  80% {
    transform: rotateZ(180deg );
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.menu {
  display: flex;
  /* border: 1px solid red; */
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  /* width: 300px; */
  /* justify-content: space-around; */
}

.menu li {
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 77px;
  height: 100%;
  padding: 0 10px;
  /* border: 1px solid green; */
}

.menu li a {
  display: inherit;
  width: inherit;
  height: 100%;
  color: rgb(189, 229, 255);;
  /* border: 1px solid yellow; */
}

.menu li:hover {
  background-color: blue;
}

.icon {
  display: none;
  color: white;
  font-size: 2em;
}

@media screen and (max-width: 1150px) {
  .Fcqmin {
    width: 15%;
  }
}

@media screen and (max-width: 900px) {
  .Fcqmin {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .Fcqmin {
    width: 18%;
  }
 
  .icon-menu {
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .menu.active {
    width: 100%;
    background-color: rgba(28, 54, 67, .9);
    z-index: 2;
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 77px;
    right: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .menu li {
    height: auto;
    /* border: 1px solid red; */
    text-align: initial;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 40px;
  }

  .menu li:hover {
    background-color: unset;
  }
  .menu li:hover a {
    color: red;
    transition: .3s;
  }
}

@media screen and (max-width: 500px) {
  .Fcqmin {
    width: 25%;
    padding: 0;
  }
  .Container_logo--react {
    justify-content: space-evenly;
  }
}

@media screen and (max-width:530px) {
  .header {
    font-size: .8em;
  }
}

