body {
  margin: 0;
  font-family: sans-serif;

}

.header {
  width: 100%;
  background-color: #00395E;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  /* border: 1px solid greenyellow; */
  justify-content: space-around;
}

.Logos {
  display: flex;
  align-items: center;
}

.Content__QT {
  display: flex;
}

.Logo__Name {
  color: white;
  font-weight: bold;
}

.React {
  width: 60px;
  /* animation: react 4s; */
  animation-timing-function: steps(30);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  margin-left: 7px;
}

.active {
  background-color: #021d2f;
}

.Burger__Menu {
  display: none;
  padding: 10px;
  cursor: pointer;
}

@keyframes react {
  20% {
    transform: rotateZ(180deg);
    /* transform: rotateY(180deg); */
  }
  40% {
    transform: rotateZ(360deg);
    /* transform: rotateY(180deg); */
  }

  50% {
    transform: rotateZ(360deg );
  }

  80% {
    transform: rotateZ(180deg );
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.menu {
  display: flex;
  /* border: 1px solid red; */
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.menu li {
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 77px;
  padding: 0 10px;
  color: white;
  /* border: 1px solid green; */
}

.menu li a {
  display: inherit;
  width: inherit;
  height: 100%;
  color: rgb(189, 229, 255);;
  /* border: 1px solid yellow; */
}

.menu li:hover {
  background-color: blue;
}

.icon {
  display: none;
  color: white;
  font-size: 2em;
}


@media screen and (max-width: 900px) {
  .header {
    justify-content: space-between;
    padding: 0 11px;
    box-sizing: border-box;
  }
  .menu {
    display: none;
  }
  .menu li {
    margin: 2px;
    box-sizing: border-box;
  }
  .Burger__Menu {
    display: inherit;
  }
  .Burger__Menu.active {
    background-color: #021d2f;
  }
  .menu.active {
    display: flex;
    top: 68px;
    box-sizing: content-box;
    flex-direction: column;
    width: 100%;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #1e3240e0;
    justify-content: center;
    overflow-y: scroll;
  }

  .active  .Btn__chat {
    z-index: -1;
  }

  .menu li {
    height: auto;
    width: 100%;
  }
  .menu li:hover {
    background-color: #00395E;
  }
}

@media screen and (max-width: 450px) {
  .React {
    width: 50px;
  }
  .Logo__Name {
    font-size: .8em;
  }
  .BuapLogo {
    height: 50px;
  }
}

@media screen and (max-width: 352px) {
  .BuapLogo {
    display: none;
  }
}