.Modal {
  display: flex;
  /* justify-content: center; */
  max-width: 768px;
  width: auto;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  background:  white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  z-index: 3;
  height: auto;
}

.Overlay {
  background: rgba(0,0,0,.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.1s ease-in;
  z-index: 3;
}
.Overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Modal delete */
.ModalDelete__Container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid; */
  width: 100%;
  height: 150px;
}
.ModalDelete__TYPE {
  width: 100%;
  /* border-radius: 16px; */
  text-align: center;
  padding: 16px 20px;
  margin: 0;
  /* box-sizing: border-box; */
  background-color: rgb(226, 142, 142);
}
.ModalDelete__Form {
  display: flex;
  /* border: 1px solid red; */
  width: 300px;
  height: 40%;
  justify-content: space-around;
  align-items: center;
}
.ModalDelete__Form button {
  height: 44px;
  cursor: pointer;
  width: 104px;
  font-size: 1.1em;
  border-radius: 14px;
  border: none;
  transition: .4s;
  outline: 0;
}

.ModalDelete__Form button:active {
  transform: scale(.8);
}
.Delete {
  color: white;
  background-color: rgb(5, 128, 173);
}
.Cancel {

}
/* Modal delete */

.modal-form-group {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.Wrapper {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  /* border: 1px solid blue; */
}

.Wrapper__Header {
  height: 40px;
  /* border: 1px solid red; */
  border-bottom: 1px solid;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.Wrapper__Header--Close {
  font-size: 35px;
  color: #65aab9;
  cursor: pointer;
}

.Form__Container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
}

.Wrapper__Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.Form__Avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.Form__Container--Title {
  padding: 10px 10px;
  text-align: center;
  /* height: 40px; */
  font-size: 40px;
  border: none;
  outline: 0;
}

.Form__Container--Title::placeholder, .Form__Container--Description::placeholder {
  color: rgb(77, 77, 77);
  font-family: var(--font-headings, "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif);
}

.Form__Container--Title:focus {
  border-left: 3px solid rgb(56, 56, 0)
}

.Form__Container--Description:focus {
  border-left: 3px solid rgb(77, 80, 38);
}

.Form__Container--Description {
  resize: none;
  padding: 12px;
  font-size: 25px;
  border: none;
  outline: 0;
  height: 200px;
  overflow-y: auto;
}

.Form__Container--File {
  width: 100%;
  background-color: rgb(236, 236, 236);
  border-radius: 12px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 19px;
  transition: .8s;
}

.Form__Container--File.uploadStyleSuccess {
  background-color: rgb(44, 210, 22);
}

.Form__Container--Submit {
  margin-top: 20px;
  width: 40%;
  height: 50px;
  align-self: center;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 650px) {
  .Modal {
    height: 100%;
  }
  .DeletePost {
    height: auto !important;
  }
  .Wrapper {
    height: 100%;
    justify-content: center;
  }
  .Wrapper__Header {
    height: 3em;
  }
  .Form__Avatar {
    height: 50px;
    width: 50px;
    margin-bottom: 7px;
  }
  .Form__Container {
    height: 80%;
    justify-content: space-around;
  }
  .Form__Container--Submit {
    margin: 0;
    width: 80%;
  }
  .Form__Container--Title {
    font-size: 28px;
  }
  .Form__Container--Description {
    font-size: 16px;
    height: 60%;
  }
}

@media screen and (max-height: 350px) {
  .Form__Avatar {
    margin: 0;
    height: 45px;
    width: 45px;
  }
  .Form__Container--Title {
    font-size: 22px;
  }
  .Form__Container--Description {
    height: 100px;
  }
}

@media screen and (max-height: 300px) {
  .Form__Container--Submit {
    height: 30px;
  }
  .Form__Container--Description {
    height: 70px;
  }
  .Form__Container--File {
    font-size: 13px;
    padding: 0;
  }
} 