.Modal {
  display: flex;
  /* justify-content: center; */
  max-width: 768px;
  width: auto;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  background:  white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  z-index: 3;
  height: auto;
}

.Overlay {
  background: rgba(0,0,0,.7);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.1s ease-in;
  z-index: 3;
}
.Overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-form-group {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.Wrapper {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  /* border: 1px solid blue; */
}

.Wrapper__Header {
  height: 40px;
  /* border: 1px solid red; */
  border-bottom: 1px solid;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.Wrapper__Header--Close {
  font-size: 35px;
  color: #65aab9;
  cursor: pointer;
}

.Form__Container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
}

.Wrapper__Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.Form__Avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.Form__Container--Title {
  padding: 10px 10px;
  text-align: center;
  /* height: 40px; */
  font-size: 40px;
  border: none;
  outline: 0;
}

.Form__Container--Title::placeholder, .Form__Container--Description::placeholder {
  color: rgb(77, 77, 77);
  font-family: var(--font-headings, "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif);
}

.Form__Container--Title:focus {
  border-left: 3px solid rgb(56, 56, 0)
}

.Form__Container--Description:focus {
  border-left: 3px solid rgb(77, 80, 38);
}

.Form__Container--Description {
  resize: none;
  padding: 12px;
  font-size: 25px;
  border: none;
  outline: 0;
  height: 200px;
  overflow-y: auto;
}

.Form__Container--File {
  width: 100%;
  background-color: rgb(236, 236, 236);
  border-radius: 12px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 19px;
}


.Form__Container--Submit {
  margin-top: 20px;
  width: 40%;
  height: 50px;
  align-self: center;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 650px) {
  .Modal {
    height: 100%;
  }
  .Wrapper {
    height: 100%;
    justify-content: center;
  }
  .Form__Container {
    height: 80%;
    justify-content: space-around;
  }
  .Form__Container--Submit {
    margin: 0;
    width: 80%;
  }
  .Form__Container--Title {
    font-size: 34px;
  }
  .Form__Container--Description {
    font-size: 19px;
    height: 60%;
  }
}