.Paint_Logo_Container {
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: #219cca;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .7s;
  cursor: pointer;
}

.Paint {
  width: 40px;
  height: 40px;
}

.Paint_Logo_Container:active {
  transform: scale(.8);
}